<%= link_to "Add a New Actor", "/actors/new" %>


<ul>
  <% Actor.read.order("name").each do |actor| %>
    <li>
      <%= link_to actor["name"], "/actors/#{actor["id"]}" %>
      <%= link_to "(Delete)", "/actors/#{actor["id"]}", "method" => "delete" %>
      <%= link_to "(Edit)", "/actors/#{actor["id"]}/edit" %>
    </li>
  <% end %>
</ul>
