
<% actor = Actor.find_by("id" => params["id"]) %>

<div class="row">
  <div class="col-md-4">
    <h2><%= actor["name"] %></h2>
    <%= image_tag actor["photo_url"] %>
  </div>
  <div class="col-md-8">
    <h2>Movie Appearances</h2>

    <% roles = Role.where("actor_id" => actor["id"]) %>

    <ul>
      <% roles.each do |role| %>
        <% movie = Movie.find_by("id" => role["movie_id"]) %>
        <li>
          <%= role["character"] %>
          in
          <%= link_to movie["title"], "/movies/#{movie["id"]}" %>
        </li>
      <% end %>
    </ul>

  </div>
</div>

