<% director = Director.find_by("id" => params["id"]) %>

<h1>Edit Director #<%= director["id"] %></h1>

<!-- This won't work!  It will send a GET request instead. -->
<form action="/directors/<%= director["id"] %>" method="patch">

  <p>
    <label>What is the director's name?</label>
    <input type="text" name="full_name" value="<%= director["name"] %>">
  </p>

  <p>
    <label>Do you have a link to a photo?</label>
    <input type="text" name="url" value="<%= director["photo_url"] %>">
  </p>

  <input type="submit"> or <a href="/directors">Cancel</a>

</form>
