<h1>Add a New Director</h1>

<form action="/directors" method="post">

  <p>
    <label>What is the director's name?</label>
    <input type="text" name="full_name">
  </p>


  <p>
    <label>Do you have a link to a photo?</label>
    <input type="text" name="url">
  </p>

  <input type="submit"> or <a href="/directors">Cancel</a>

</form>
